@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', Helvetica, Arial, Helvetica, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}
html {
	font-size: 16px;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	flex-wrap: wrap;
	flex-direction: column;
	

	
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

p {
	
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	height: 350px;
	width: 100%;
	margin: 0 auto;
	
}

header h1 {
	text-align: center;
	margin: 10px;
	width: 100%;
	padding: 38px 0;
	border-bottom: 3px solid #77a466;
	

}
header h1 span {
	color: #77a466;
}

header nav {
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 2em;

}
header nav ul {
	
	margin: 0;
	padding: 0;
	
	
}
header nav ul li {
	list-style: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0 10px;
	
	
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;

	
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row;
	flex-wrap: wrap;
	
}

.main-image {
	height: auto;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 90%;
		
}
.main-image img {
	height: 100px;
	width: 95%;
	border: 3px solid #77a466;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-title {
	height: auto;
	float: left;
	width: 85%;
	
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
	text-align: left;
}

.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 85%;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
	
}

.section-one h4 {
	padding-left: 25px;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding-left: 25px;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	width: 100%;
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

/* ===== breakpoints ===== */

/* - - - - TABLET - - - - */

@media all and (min-width: 768px) {
	.container {
		max-width: 960px;
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
	}
	.main-image img {
		height: 200px;
		width: 95%;
	}
	.section-one,
	.section-two,
	.section-three {
		width: 30%;
		height: 360px;
		float: left; 
		flex-flow: row wrap;
		flex-direction: row;
		justify-content: center;
		justify-items: center;
		align-items: center;
		margin: auto;
	}

	.section-one h4 {
		padding: 10px 30px;
	}	
}

/* - - - - DESKTOP - - - - */

@media all and (min-width: 1200px) {
	.container {
		max-width: 1200px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row;
		flex-wrap: wrap;
		
	}
	

	header {
		height: 180px;
		flex-direction: row;
		flex-flow: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	header h1 {
		float: left;
		width: 400px;
		border: none;
	}
	.main-image {
		max-width: 100%;
	}
	.main-image img {
		height: 250px;
		width: 100%;
	}
	header nav ul {
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		float: right;
		flex-direction: row;
		justify-content: flex-end;
		width: 600px;
		text-align: center;
		margin: 18px;
		padding: 38px 0;
	
		
	}
	.main-title {
		width: 100%;
	}
	.section-one,
	.section-two,
	.section-three {
		height: 260px;
	}

	
}